.optionBlock {
  padding: 40px 0 40px 0;
  display: flex;
  gap: 60px;
  border-bottom: 1px solid #333;
  align-items: center;
  .selectBlock {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
  }
}
.buttonBlock {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  position: absolute;
  right: 10px;
  bottom: 10px;
}
.details {
  margin-top: 5px;
  padding: 3px;
  border: 1px solid #46af3a;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
}
